@using Microsoft.AspNetCore.Routing;
@model List<Producto>

@{
    ViewData["Title"] = "Inicio - NBAShop";
}

<div class="container">
    <nav aria-label="breadcrumb"> 
        <ol class="breadcrumb" id="breadcrumb-container">

        </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <a href="@Url.Action("Productos", "Home", new{categoriaId=categoria.IdCategoria})" class="btn btn-outline-secondary btn-sm">@categoria.Nombre</a>
                }
            </div>
        </div>
    </div>
    <h2 class="my-4">Productos destacados</h2>
    <div class="row" id="productosContainer">
        @foreach(var producto in Model)
        {
            <div class="col-md-4 col-sm-6 mb-4 productoItem" data-categoria="@producto.IdCategoria">
                <div class="card h-100 d-grid">
                    <a href="@Url.Action("DetalleProducto", "Home", new{id = producto.IdProducto})">
                        <img class="card-img-top" src="@producto.Imagen" alt="Imagen del producto"/>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center"><a href="@Url.Action("DetalleProducto", "Home", new {id=producto.IdProducto})">@producto.Nombre</a></h5>
                        <p class="card-text">@producto.Descripcion</p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">Modelo: @producto.Modelo</li>
                        <li class="list-group-item font-weight-bold">@String.Format("{0:C}", producto.Precio)</li>
                    </ul>
                    <div class="card-body mt-auto">
                        @if(producto.Stock < 1)
                        {
                            <div class="alert alert-danger" role="alert">
                                <i class="fas fa-exclamation-circle"></i> Agotado
                            </div>
                        }
                        else
                        {
                            <form method="post" action="@Url.Action("AgregarProductoIndex")" class="d-flex">
                                <input type="hidden" name="id" value="@producto.IdProducto"/>
                                <input type="number" class="form-control mr-2" name="cantidad" value="1" min="1" max="@producto.Stock"/>
                                <button type="submit" class="btn btn-outline-primary rounded-pill"><i class="fas fa-cart-plus"></i></button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@{
    string? controllerName = Context.GetRouteValue("controller") as string;
    string? actionName = Context.GetRouteValue("action") as string;
}

<script>
    var controllerName='@controllerName';
    var actionName='@actionName';
</script>
