@model IEnumerable<WebApplicationNBAShop.Models.DetallePedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPedidoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedidoNavigation.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.Codigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetallePedido">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetallePedido">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetallePedido">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
